<a href="https://colab.research.google.com/github/rits1729/Python/blob/main/Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str = "Ritesh Kumar Singh"

In [2]:
type (str)

str

In [3]:
l = [1,2,3,4,5,6,"string","int"]

In [4]:
type(l)

list

In [5]:
t=(1,2,4,6,7)

In [6]:
type(t)

tuple

In [7]:
x=3.143567

In [8]:
type(x)

float

In [9]:
#var1 = ‘ ‘ ----> string
# var2 = ‘[ DS , ML , Python]’    -----> list
# var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ------> list
#var4 = 1. -----> float

In [13]:
# / ---> This is division operator which divides the numberator and denominator and provides the result in float format . for example 2/5=0.4
# % ---> This is modolous operator which gives remainder as result by dividing two numbers . for example 5%2 = 1
# // ----> This is double divide symbol which gives quotient as result by dividing two numbers . for example 10//4 = 2
# ** ---> This operatoe is used to give the power of two number . for example 2**3 = 8

In [22]:
#Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

list2 = [1,2,3,4,"sum","diff","mul","pow",0.9,4.6]
i=0
while i<len(list2) :
  print("type and data is ", type(list2[i]),list2[i])
  i+=1

type and data is  <class 'int'> 1
type and data is  <class 'int'> 2
type and data is  <class 'int'> 3
type and data is  <class 'int'> 4
type and data is  <class 'str'> sum
type and data is  <class 'str'> diff
type and data is  <class 'str'> mul
type and data is  <class 'str'> pow
type and data is  <class 'float'> 0.9
type and data is  <class 'float'> 4.6

In [24]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=52
b=3
i=0
while(b!=1 and b!=0):
  a=a//b
  b=a%b
  i+=1
print(i)

2

In [25]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

list3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(0,len(list3)):
  if list3[i]%3==0:
    print(list3[i],"is divisible by 3")
  else:
    print(list3[i],"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
#What do you understand about mutable and immutable data types? Give examples for both showing

#Mutable data types : Mutable datatypes are those data types which are defined or declared only once through out the execution cycle. We can access data present at the indexes but we can change the data which is present at each index. for example string data type : str="Strght"---> we can access each character of str but we cannot change any character.

# Immutable data type: Immutable data types are those data types which are defined or declared once but can be changed at any point of time during the execution of the program . for example list data type. we can access the data using indexes and can also change that as well.